# DMC4SEMOOD move names: char<TAB>atckId<TAB>name
0	9	Stinger
0	3	Rebellion Combo
0	1	Rebellion Combo
0	2	Rebellion Combo
0	7	Helm Breaker
0	4	Rebellion Combo
0	6	Million Stabs
0	13	Round Trip
0	26	Gilgamesh Combo
0	27	Gilgamesh Combo
0	30	Gilgamesh Combo
0	31	Gilgamesh Combo
0	28	Gilgamesh Combo
0	29	Gilgamesh Combo
0	32	Full House
0	34	Draw
0	35	Straight
0	36	Shock
0	37	Shocking
0	33	Kick 13
0	95	Royal Release
0	39	Beast Uppercut
0	41	Divine Dragon
0	16	Prop
0	17	Shredder
0	23	Quick Drive
0	24	Overdrive
0	22	Dance Macabre
0	52	Pin up
0	53	Pin up
0	54	Ecstasy
0	51	Splash
0	42	Lucifer Combo
0	47	Lucifer Combo
0	49	Lucifer Combo
0	48	Lucifer Combo
0	43	Lucifer Combo
0	45	Lucifer Combo
0	44	Lucifer Combo
0	74	Charged Shot
0	63	Charged Shot
0	83	PF013 Epidemic
0	86	PF262 Jealousy
0	84	PF124 Hatred
0	85	PF398 Revenge
0	68	Twosometime
0	79	Fireworks
0	82	Gun Stinger
0	81	Backslide
0	60	Shoot
0	69	Honeycomb Fire
0	11	High Time
0	21	Aerial Rave
0	18	Aerial Rave
0	19	Aerial Rave
0	20	Aerial Rave
0	46	Lucifer Combo
0	55	Ecstasy
0	105	Aerial Rave
0	106	Aerial Rave
0	108	Slash Dimension
0	107	Slash Dimension
0	104	Yamato Combo
0	102	Yamato Combo
0	103	Yamato Combo
0	64	Shoot
0	70	Rainstorm
0	80	Fireworks Air
0	89	PF422 Grief
0	88	PF594 Argument
0	90	PF666 Omen
0	93	Air Trick
0	101	Dreadnaught
1	23	Aerial Combo
1	24	Aerial Combo
1	25	Aerial Combo
1	27	Split
1	5	Buster
1	12	Red Queen Combo
1	9	Red Queen Combo
1	10	Red Queen Combo
1	18	Red Queen Combo
1	19	Red Queen Combo
1	11	Red Queen Combo
1	20	Red Queen Combo
1	13	Red Queen Combo
1	21	Red Queen Combo
1	14	Red Queen Combo
1	15	Red Queen Combo
1	17	Red Queen Combo
1	30	Calibur
1	26	Aerial Combo
1	48	Shoot
1	44	Shoot
1	45	Charge Shot
1	46	Charge Shot 2
1	47	Charge Shot 3
1	1	Snatch
1	35	Maximum bet
1	34	Showdown
1	2	Air Snatch
1	31	High Roller
1	32	High Roller
0	12	High Time
1	29	Streak
1	40	Double Down
1	38	Streak Exceed
1	39	Exceed Calibur
1	36	Exceed High Roller
1	37	Exceed High Roller
2	1	Yamato Combo
2	2	Yamato Combo
2	3	Yamato Combo
2	8	Yamato Combo
2	4	Yamato Combo
2	7	Yamato Combo
2	28	Rapid Slash
2	29	Rapid Slash
2	30	Rising Star
2	86	Trick Up
2	26	Upper Slash
2	27	Upper Slash
2	17	Perfect Judgement Cut
2	23	Perfect Judgement Cut
2	9	Aerial Combo
2	10	Aerial Combo
2	12	Aerial Combo
2	11	Aerial Combo
2	14	Judgement Cut
2	39	Starfall
2	32	Beowulf Combo
2	33	Beowulf Combo
2	37	Beowulf Combo
2	36	Beowulf Combo
2	40	Beowulf Combo
2	49	Beast Uppercut
2	50	Rising Dragon
2	51	Dragon Breaker
2	47	Lunar Phase
2	44	Lunar Phase
2	45	Lunar Phase
2	46	Lunar Phase
2	41	Kick 13
2	53	Force Edge Combo
2	57	Force Edge Combo
2	54	Force Edge Combo
2	56	Force Edge Combo
2	55	Million Stab
2	58	Force Edge Combo
2	61	High Time
2	62	High Time
2	68	Stinger
2	63	Round Trip
2	60	Helm Breaker
2	70	Air Stinger
2	76	Drive
2	75	Overdrive
3	3	Sparda Combo
3	1	Sparda Combo
3	2	Sparda Combo
3	25	Sparda Combo
3	4	Sparda Combo
3	6	Sparda Combo
3	18	Aerial Rave
3	19	Aerial Rave
3	20	Aerial Rave
3	21	Aerial Rave
3	16	V Divider
3	13	Round Trip
3	12	High Time
3	48	Shoot
3	56	PF013 Epidemic
3	60	PF124 Hatred
3	57	PF124 Hatred
3	58	PF398 Revenge
3	30	Bare Knuckle Combo
3	29	Bare Knuckle Combo
3	31	Bare Knuckle Combo
3	24	Bare Knuckle Combo
3	23	Bare Knuckle Combo
3	22	Bare Knuckle Combo
3	32	Bare Knuckle Combo
3	46	Bare Knuckle Combo
3	33	Bare Knuckle Combo
3	40	Bare Knuckle Combo
3	36	Inazuma
3	47	High Voltage
3	44	Rolling Thunder
3	42	Rolling Thunder
3	14	Callback
3	38	Thunder Blow
3	39	Collider
3	52	Air Shot
4	3	Bayonet Combo
4	4	Bayonet Combo
4	5	Bayonet Combo
4	11	Scatter
4	10	Bayonet Sweep
4	9	Bayont Sting
4	6	Bayonet Air Combo
4	7	Bayonet Air Combo
4	8	Bayonet Air Combo
4	40	Wire Action
4	41	Wire Action
4	1	Burst
4	39	Double Barrel
4	36	Rush Hour
4	38	Ground Zero
4	28	Buckshot
4	30	000 Buckshot
4	31	Flechette Shot
4	32	Shredder Shot
4	17	9mm Bullet
4	18	9mm Bullet
4	19	Napalm Shot
4	21	Explosion Shot
4	27	Trigger Happy
4	26	Two Hands
4	12	At Missile
4	15	Hysteric
4	14	Multiple
0	71	Shoot
0	75	Air Shoot
0	38	Real Impact
0	40	Rising Dragon
2	498	Judgement Cut End
